# Dependencies
node_modules/
*/node_modules/

# Production Builds
dist/
client/dist/

# Environment Variables
.env
.env.local
.env.*.local
server/.env

# Logs and system
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
.system_generated/

# Uploads and Backups
uploads/
server/backups/
